:root {
  /* --blue: #1976d2; */
  /* --darkLavendar: #6658ff; */

  /* Using: */
  --veryLightTeal: #e0f2f1; /* ? dataGrid row even */
  --lightTeal: #b2dfdb; /* ? dataGrid row hover */
  --logoTeal: #8bedd8; /* button color */
  /* --lightGrayBlue: #b2dfdb; /* table header, totals row --more like light teal? */ /**/
  
  /* Using in Component Variables Now: */
  --bluePurple: #2a2c76;
  --lightGray: #cfd8dc;
  --gray: #90a4ae; /* disabled button */
  --darkBlue: #02174c;
  --darkBlueOpacity: #1e3e90;
  --veryDarkBlue: #02035e;
  --darkGrayBlue: #5b7bba;
  /* --grayBlue: #8bafc1; */
  --grayBlue: #9bafd7;
  --lightGrayBlue: #b8c6e4;
  --veryLightGrayBlue: #cedaf2;
  --veryVeryLightGrayBlue: #dce6fb;
  

  /* COMPONENT COLOR VARIABLES */
  --black: #111111;
  --red: rgba(255, 0, 0, 0.693);

  --disabled: var(--gray); /* either this or gray */
  --disabledHover: var(--lightGray); /* either this or gray */
  --disabledOther: rgba(0, 0, 0, 0.54); /* update */
  --border: var(--lightGray); /* Container, Tables */
  --divider: var(--veryDarkBlue); /* Dividing border within tables, etc */

  --mainHeader: var(--darkBlue); /* App/Navigation Bar */
  --mainHeaderHover: var(--darkBlueOpacity);  /* update / not using? */
  --mainHeaderText: var(--darkBlueOpacity);
  --secondaryHeader: var(--darkGrayBlue); /* Tables */
  --secondaryHeaderHover: var(--darkGrayBlue); /* update / not using? */
  --tertiaryHeader: var(--grayBlue);
  --tertiaryHeaderHover: var(--darkGrayBlue);
  --tertiarySubHeader: var(--veryVeryLightGrayBlue); /* Tabs */
  --tertiarySubHeaderHover: var(--darkGrayBlue);  /* update / not using? */

  --pageBackground: #e6e6e678;
  
  --buttonBorder: var(--veryDarkBlue);

  --tableBackground: #8bafc1;
  --tableRow: var(--veryLightGrayBlue);
  --tableRowHover: var(--lightGrayBlue);

  --textColor: var(--veryDarkBlue);
  --textColorSecondary: var(--bluePurple);
  --textFieldBackground: aliceblue;
}


.App {
  background-color: var(--pageBackground);
  height: 100vw; /* TODO: */
  text-align: center;
}
.page-wrapper {
  margin: 12px;
}
.page-heading {
  font-size: 24px;
  padding: 8px;
  margin: 12px;
}


/* //////////// */
/*/ NAVIGATION /*/
/* //////////// */
.nav-appBar {
  /* width: 100% !important; TODO: figure out how to get the scroll buttons maybe? */
  background-color: var(--mainHeader) !important;
  display: flex;
  flex-direction: row !important;
  height: 48px;
}
.nav-buttonLink {
  border-radius: 0px !important;
  margin-bottom: 8px !important;
  margin-left: 8px !important;
  margin-top: 8px !important;
}
.nav-buttonLink:hover {
  background-color: var(--darkBlueOpacity) !important;
}

.nav-links {
  color: var(--green);
  font-size: 16px;
  text-decoration: none;
}
.nav-activeButtonLink {
  background-color: var(--darkBlueOpacity) !important;
}

/* //////////// */
/*/ COMPONENTS /*/
/* //////////// */
.login {
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* ////// */
/*/ TABS /*/
/* ////// */
.tabs {
  width: 100%;
}
.tabs .MuiButtonBase-root {
  color: var(--textColor) !important;
}
.tabs .MuiTabs-indicator {
  background-color: var(--textColor); 
}
.tabs .Mui-disabled.MuiTabScrollButton-root {
  display: none; /* Hide disabled tab scroll when all the way left or right */
}
.tabs-hover:hover {
  background-color: var(--tertiaryHeader);
}
.tabs-hover.Mui-selected:hover {
  background-color: var(--tertiaryHeaderHover);
}

.tabs-vertical {
  display: flex;
}
.tabs-vertical .MuiTabs-root {
  overflow: visible; /* Show vertical tabs on large screens */
}
.tabs-vertical .Mui-selected {
  background-color: var(--tertiarySubHeader);
  border-radius: 4px 0px 0px 4px;
  font-weight: 600;
}

.tabPanel-vertical {
  background-color: var(--tertiarySubHeader);
  border-radius: 0px 4px 4px 4px;
  max-width: 85%;
}


/* /////////// */
/*/ DATA GRID /*/
/* /////////// */
.dataGrid-table-container-multiple {
  border: solid 1px var(--border);
  margin-bottom: 24px;
  padding: 8px;
}
.dataGrid-container {
  padding-top: 24px;
}
.dataGrid-title {
  color: var(--textColor);
  font-weight: 600;
}
.dataGrid-tableHeader {
  background-color: var(--tertiaryHeader); /* update */
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-top: 8px;
  padding: 12px;
}
.dataGrid-tableHeader-title {
  color: var(--textColor);
  font-weight: bold;
}
/* Columns */
.dataGrid-column-header {
  color: var(--textColor);
  text-decoration: underline;
}
/* Rows */
.dataGrid-row-total {
  background-color: var(--tertiaryHeader);
  border-top: solid 1px var(--divider);
  font-size: 16px;
  font-weight: 600;
}
.dataGrid-row-even {
  background-color: var(--tableRow);
}
.dataGrid-row-even:hover {
  background-color: var(--tableRowHover) !important;
}
.dataGrid-row-odd:hover {
  background-color: var(--tableRowHover) !important;
}
.dataGrid-row-disabled {
  background-color: var(--disabled);
}
.dataGrid-row-disabled:hover {
  background-color: var(--disabledHover) !important;
}
.dataGrid-row-disabled .dataGrid-cell {
  color: var(--disabledOther) !important;
}
/* Cells */
.dataGrid-cell {
  color: var(--textColorSecondary);
}
.dataGrid-cell-amount {
  padding-right: 12px !important;
}
.dataGrid-cell-action {
  padding: 0px 8px !important;
}
.dataGrid-cell-action .icon-button-disabled {
  color: var(--disabled);
}
.dataGrid-cell-action .icon-button-disabled:hover {
  background-color: transparent;
}
/* Total */
.dataGrid-total-row {
  background-color: var(--tertiaryHeader);
  border-top: solid 1px var(--divider);
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  padding: 8px;
}
.dataGrid-total-row-multiple {
  background-color: var(--tertiaryHeader);
  border-top: solid 1px var(--divider);
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding: 8px;
}
.dataGrid-totalTxt {
  color: var(--textColor);
  font-weight: bold;
}
.dataGrid-totalAmt {
  color: var(--textColor);
  font-weight: bold;
}
.dataGrid-totalAmt-multiple {
  color: var(--textColor);
  font-weight: bold;
}


/* //////////// */
/*/ COMPONENTS /*/
/* //////////// */
.button-container {
  display: flex;
}
.button {
  color: var(--textColor) !important;
}
.button-main {
  background-color: var(--logoTeal) !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  padding: 12px 20px !important;
  width: 100%;
}
.button-main-small {
  background-color: var(--logoTeal) !important;
  border-radius: 4px !important;
}
.button-disabled {
  color: var(--disabled) !important;
}
.icon-button-disabled:hover {
  color: var(--disabledHover) !important;
  cursor: default;
}
.button-outlined {
  border: solid 1px var(--buttonBorder) !important;
  color: var(--textColor) !important;
}
.button-outlined-light {
  border: solid 1px var(--buttonBorder) !important;
  color: var(--textColor) !important;
}

.border {
  border: solid 1px var(--border);
  border-radius: 4px;
  padding: 12px;
}

.divider {
  margin-bottom: 24px;
  padding-top: 24px;
}

.form {
  padding: 56px 8px 0px 8px
}
.form-title-large {
  color: var(--textColor);
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.form-title {
  color: var(--textColor);
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 24px;
  text-align: left;
}
.form-subtitle {
  color: var(--textColor);
  padding-bottom: 24px;
  text-align: left;
}

.form-row {
  display: flex;
  align-items: center;
}

.form-error {
  color: var(--red);
  padding-top: 12px;
}

.text-subtitle {
  overflow-wrap: break-word;
}

.linear-progress {
  height: 100%;
  margin: auto;
  padding: 24px;
  width: 50%;
}

.actions-row {
  display: flex;
  justify-content: center;
  padding-top: 40px; 
}

/*/ Utility /*/
.border-radius-8 {
  border-radius: 8px;
}

.color-title-text {
  color: var(--textColor);
}

.image-container {
  display: flex !important;
  flex-direction: column;
}

.text-size-18 {
  font-size: 18px;
}

.right-align {
  justify-content: end !important;
}

.textAlign-left {
  text-align: left;
}
.textAlign-right {
  text-align: right;
}

.flex-column {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}


.textField-background .MuiInputBase-root {
  background-color: var(--textFieldBackground);
  max-width: 192px;
}
.textField-small .MuiInputBase-root {
  max-width: 96px;
}

/*/ Spacing /*/
.bottom-margin-48 {
  margin-bottom: 48px !important;
}
.bottom-padding-12 {
  padding-bottom: 12px !important;
}
.bottom-padding-24 {
  padding-bottom: 24px !important;
}
.bottom-padding-48 {
  padding-bottom: 48px !important;
}
.right-margin-8 {
  margin-right: 8px !important;
}
.left-margin-12 {
  margin-left: 8px; /* TODO: loanpmt */
}
.left-margin-24 {
  margin-left: 24px;
}
.left-margin-48 { /*     */
  margin-left: 48px;
}
.right-margin-8 {
  margin-right: 8px !important;
}
.right-margin-12 {
  margin-right: 12px !important;
}
.right-margin-24 {
  margin-right: 24px !important;
}
.right-margin-48 {
  margin-right: 48px !important;
}
.right-margin-68 {
  margin-right: 68px !important;
}
.top-margin-8 {
  margin-top: 8px !important;
}
.top-margin-12 {
  margin-top: 12px !important;
}
.top-margin-24 {
  margin-top: 24px !important;
}
.top-margin-48 {
  margin-top: 48px !important;
}
.top-padding-12 {
  padding-top: 12px !important;
}

.minWidth-120 {
  min-width: 120px;
}

/* /////// */
/*/ TABLE /*/
/* /////// */
.table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 12px;
}

.table-gridRowsContainer {
  background-color: var(--tableBackground);
  padding: 12px 12px 0px 12px;
  margin-bottom: 12px;
}
.table-gridCell-xs {
  min-width: 48px;
}
.table-gridCell-sm {
  min-width: 120px;
}
.table-gridCell-med {
  min-width: 120px;
}

.table-gridCell-med .MuiInputBase-input.MuiOutlinedInput-input {
  padding: 4px 14px !important;
}

.set-width-34 {
  width: 34px;
}


/*///// TAB SIZING /////*/
/*///// LARGE /////*/
@media only screen and (min-width: 625px) and (max-width: 784px) {
  .tabs-vertical {
    width: 95%;
  }
}
@media only screen and (min-width: 535px) and (max-width: 624px) {
  .tabs-vertical {
    width: 90%;
  }
  .dataGrid-page-container {
    height: 100%;
    padding: 32px 0px 12px 0px;
  }
}
@media only screen and (min-width: 461px) and (max-width: 534px) {
  .page-wrapper {
    margin: 8px;
  }

  .tabs-vertical {
    display: block;
    width: 100%;
  }
  .tabs-vertical .MuiTabs-root {
    display: none;
  }
  .tabPanel-vertical {
    border-radius: 0px;
    max-width: 100%;
  }
  .dataGrid-page-container {
    height: 100%;
    padding: 32px 0px 12px 0px;
  }
}
@media only screen /*and (min-width: 300px)*/ and (max-width: 460px) {
  .page-wrapper {
    margin: 0px;
  }

  .dataGrid-page-container {
    height: 100%;
    padding: 32px 0px 12px 0px;
  }

  .tabs-vertical {
    width: 100%;
  }
  .tabs-vertical .MuiTabs-root {
    overflow: hidden;
  }
  .tabs-vertical .Mui-selected {
    border-radius: 0px;
  }
  
  .tabPanel-vertical {
    border-radius: 0px;
    max-width: 100%;
  }

  /* .small-screen .MuiInputBase-root { */
  .small-screen {
    background-color: #112a6eac;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
  }
}
