:root {
  --darkBlue: #02174c;
  /* --darkBlueOpacity: rgba(5, 23, 76, 0.50); */
  --darkBlueOpacity: #1e3e90;
  --veryDarkBlue: #02035e;
  --grayBlue: #8bafc1;
  --veryLightBlue: #d0e5ff;
  --blue: #1976d2;
  --darkLavendar: #6658ff;
  --veryDarkLavendar: #3a38bf;

  --bluePurple: #2a2c76;
  /* --veryLightTeal: #e4f9f5; */
  --veryLightTeal: #e0f2f1;
  /* --lightTeal: #baf0e6; */
  --lightTeal: #b2dfdb;
  --teal: #81e4c4;
  --logoTeal: #8bedd8;
  --lightGray: #cfd8dc;
  --gray: #90a4ae;
  --lightGrayBlue: #b2dfdb;
  --darkGray: #607d8b; /* TODO: too dark (used for hover on tables) */
  --green: #06c96c;

  --black: #111111;
  --red: rgba(255, 0, 0, 0.693);
}


.App {
  background-color: #e6e6e678;
  /* height: 100vh; */
  height: 100vw; /* TODO: */
  text-align: center;
}
.page-wrapper {
  margin: 24px;
  width: 100%;
  /* background-color: #e6e6e6; */
}
.page-heading {
  font-size: 24px;
  padding: 8px;
  margin: 12px;
}


/* //////////// */
/*/ NAVIGATION /*/
/* //////////// */
/* .navigation { */
  /* width: 100%; */
/* } */
.nav-appBar {
  /* width: 100% !important; TODO: figure out how to get the scroll buttons maybe? */
  background-color: var(--darkBlue) !important;
  display: flex;
  flex-direction: row !important;
  height: 48px;
}
/* .navigation .MuiPaper-root {
  background-color: var(--darkBlue);
} */
.nav-buttonLink {
  border-radius: 0px !important;
  margin-bottom: 8px !important;
  margin-left: 8px !important;
  margin-top: 8px !important;
}
.nav-buttonLink:hover {
  background-color: var(--darkBlueOpacity) !important;
}

.nav-links {
  color: var(--green);
  font-size: 16px;
  text-decoration: none;
}
.nav-activeButtonLink {
  background-color: var(--darkBlueOpacity) !important;
}

/* //////////// */
/*/ COMPONENTS /*/
/* //////////// */
.login {
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* ////// */
/*/ TABS /*/
/* ////// */
.tabs {
  /* max-width: 1200px;
  width: 100%; */
  width: 100%;
}
.tabs .MuiButtonBase-root {
  color: var(--veryDarkBlue) !important;
}
.tabs .MuiTabs-indicator {
  background-color: var(--veryDarkBlue); 
}
.tabs .Mui-disabled.MuiTabScrollButton-root {
  display: none; /* Hide disabled tab scroll when all the way left or right */
}
.tabs-hover:hover {
  background-color: var(--lightTeal);
}
.tabs-hover.Mui-selected:hover {
  background-color: var(--veryLightTeal);
}

.tabs-vertical {
  display: flex;
}
.tabs-vertical .MuiTabs-root {
  overflow: visible; /* Show vertical tabs on large screens */
}
.tabs-vertical .Mui-selected {
  background-color: var(--veryLightTeal);
  border-radius: 4px 0px 0px 4px;
  font-weight: 600;
}

.tabPanel-vertical {
  background-color: var(--veryLightTeal);
  border-radius: 0px 4px 4px 4px;
  max-width: 85%;
}


/* /////////// */
/*/ DATA GRID /*/
/* /////////// */
.dataGrid-table-container-multiple {
  border: solid 1px var(--lightGray);
  margin-bottom: 24px;
  /* margin-top: 8px; */
  padding: 8px;
}
.dataGrid-container {
  /* height: 100%; */
  /* padding: 32px 24px 12px 24px; */
  padding-top: 24px;
  /* width: 100%; */
}
.dataGrid-title {
  color: var(--veryDarkBlue);
  font-weight: 600;
  /* padding: 32px 24px 12px 24px; */
  /* padding-bottom: 4px; */
}
.dataGrid-tableHeader {
  /* background-color: var(--teal); */
  background-color: var(--lightGrayBlue);
  /* border-top: solid 1px var(--veryDarkBlue); */
  display: flex;
  font-size: 18px;
  /* justify-content: space-between; */
  justify-content: center;
  /* margin-bottom: 40px; */
  margin-top: 8px;
  padding: 12px;
}
.dataGrid-tableHeader-title {
  color: var(--veryDarkBlue);
  font-weight: bold;
}
/* Columns */
.dataGrid-column-header {
  color: var(--veryDarkBlue);
  /* color: var(--bluePurple); */
  text-decoration: underline;
}
/* Rows */
.dataGrid-row-total {
  background-color: var(--lightGrayBlue);
  border-top: solid 1px var(--veryDarkBlue);
  font-size: 16px;
  font-weight: 600;
}
.dataGrid-row-even {
  /* background-color: var(--teal); */
  /* background-color: var(--lightGrayBlue); */
  background-color: var(--veryLightTeal);
}
.dataGrid-row-even:hover {
  background-color: var(--lightTeal) !important;
}
.dataGrid-row-odd:hover {
  background-color: var(--lightTeal) !important;
}
.dataGrid-row-disabled {
  background-color: var(--gray);
  /* color: gray !important; */
}
.dataGrid-row-disabled:hover {
  background-color: var(--gray) !important;
  /* color: gray !important; */
}
.dataGrid-row-disabled .dataGrid-cell {
  color: rgba(0, 0, 0, 0.54) !important;
}
/* Cells */
.dataGrid-cell {
  /* color: var(--veryDarkBlue); */
  color: var(--bluePurple);
  /* justify-content: flex-start !important; */
}
.dataGrid-cell-amount {
  padding-right: 12px !important;
}
.dataGrid-cell-action {
  padding: 0px 8px !important;
}
.dataGrid-cell-action .icon-button-disabled {
  color: var(--lightGray);
}
.dataGrid-cell-action .icon-button-disabled:hover {
  background-color: transparent;
}
/* Total */
.dataGrid-total-row {
  background-color: var(--lightGrayBlue);
  border-top: solid 1px var(--veryDarkBlue);
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 40px; */
  margin-top: 60px;
  padding: 8px;
}
.dataGrid-total-row-multiple {
  background-color: var(--lightGrayBlue);
  border-top: solid 1px var(--veryDarkBlue);
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 40px; */
  margin-top: 24px;
  padding: 8px;
}
.dataGrid-totalTxt {
  color: var(--veryDarkBlue);
  font-weight: bold;
}
.dataGrid-totalAmt {
  color: var(--veryDarkBlue);
  font-weight: bold;
}
.dataGrid-totalAmt-multiple {
  color: var(--veryDarkBlue);
  /* font-size: 16px; */
  font-weight: bold;
}


/* //////////// */
/*/ COMPONENTS /*/
/* //////////// */
.button-container {
  display: flex;
  /* padding-top: 24px; */
}
.button {
  color: var(--veryDarkBlue) !important;
}
.button-main {
  background-color: var(--logoTeal) !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  padding: 12px 20px !important;
  width: 100%;
}
.button-main-small {
  background-color: var(--logoTeal) !important;
  border-radius: 4px !important;
  /* font-weight: 600 !important; */
  /* padding: 8px 16px !important; */
}
.button-disabled {
  color: var(--gray) !important;
}
.icon-button-disabled:hover {
  color: var(--lightGray) !important;
  cursor: default;
}
.button-outlined {
  border: solid 1px var(--veryDarkBlue) !important;
  color: var(--veryDarkBlue) !important;
}
.button-outlined-light {
  border: solid 1px var(--veryDarkBlue) !important;
  color: var(--veryDarkBlue) !important;
}

.divider {
  margin-bottom: 24px;
  padding-top: 24px;
}

.form {
  /* padding-top: 56px; */
  padding: 56px 8px 0px 8px
}
.form-title {
  color: var(--veryDarkBlue);
  /* color: var(--darkBlue); */
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 24px;
  text-align: left;
}
.form-subtitle {
  color: var(--veryDarkBlue);
  /* color: var(--darkBlue); */
  /* font-size: 12px; */
  padding-bottom: 24px;
  text-align: left;
}

.form-row {
  display: flex;
}

.form-error {
  color: var(--red);
  padding-top: 12px;
}

.linear-progress {
  height: 100%;
  margin: auto;
  padding: 24px;
  width: 50%;
}

.actions-row {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  padding-top: 40px; 
}

/*/ Utility /*/
.border-radius-8 {
  border-radius: 8px;
}

.color-title-text {
  color: var(--veryDarkBlue);
}

.image-container {
  /* align-items: center; */
  display: flex !important;
  flex-direction: column;
  /* justify-content: center; */
}

.text-size-18 {
  font-size: 18px;
}

.right-align {
  justify-content: end !important;
}

.flex-column {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}


.textField-background .MuiInputBase-root {
  background-color: aliceblue;
  max-width: 192px;
}
.textField-small .MuiInputBase-root {
  max-width: 96px;
}

/*/ Spacing /*/
/* .bottom-margin-12 {
  margin-bottom: 12px !important;
} */
.bottom-margin-48 {
  margin-bottom: 48px !important;
}
.bottom-padding-12 {
  padding-bottom: 12px !important;
}
.bottom-padding-24 {
  padding-bottom: 24px !important;
}
.bottom-padding-48 {
  padding-bottom: 48px !important;
}
.right-margin-8 {
  margin-right: 8px !important;
}
.right-margin-12 {
  margin-right: 12px !important;
}
.right-margin-24 {
  margin-right: 24px !important;
}
.right-margin-48 {
  margin-right: 48px !important;
}
.right-margin-68 {
  margin-right: 68px !important;
}
.top-margin-8 {
  margin-top: 8px !important;
}
.top-margin-12 {
  margin-top: 12px !important;
}
.top-padding-12 {
  padding-top: 12px !important;
}
.top-margin-24 {
  margin-top: 24px !important;
}
.top-margin-48 {
  margin-top: 48px !important;
}

/* /////// */
/*/ TABLE /*/
/* /////// */
.table-column-header-lg {
  font-weight: bold !important;
  font-size: 16px !important;
}
.table-column-header {
  font-weight: bold !important;
  font-size: 0.75rem !important;
}
.table-row-header {
  font-weight: 500 !important;
}
.table-cell {
  font-size: 0.75rem !important;
}



/*
// gray Palette:
// darkGreenGray: #40514e
// veryLightTeal: #e4f9f5 var(--veryLightTeal)
// gray: #576d69
// darkGray: #293533
// white: #ffffff
// lightTeal: #baf0e6 var(--lightTeal)


// blueGrayGreen Palette:
// green: #64ee85
// veryDarkBlue: 0a3042
// white: #ffffff
// lightGreen: #92f3a9
// green: #36e961
// darkBlue: #11506e



// Dino Palette:
// darkBlue: #293851
// green: #5ea570
// lightGreen: #cbe7af
// medGreen: #65dca2
// darkGreen: #528e61
// lightTeal: #65dca2
// white: #f9f6f9
// black: #454045
// almostBlack: #544f57
*/


/*///// TAB SIZING /////*/
/*///// LARGE /////*/
@media only screen and (min-width: 625px) and (max-width: 784px) {
  .tabs-vertical {
    width: 95%;
  }
}
@media only screen and (min-width: 535px) and (max-width: 624px) {
  .tabs-vertical {
    width: 90%;
  }
  .dataGrid-page-container {
    height: 100%;
    padding: 32px 0px 12px 0px;
  }
}
@media only screen and (min-width: 461px) and (max-width: 534px) {
  .page-wrapper {
    margin: 8px;
  }

  .tabs-vertical {
    display: block;
    width: 100%;
  }
  .tabs-vertical .MuiTabs-root {
    /* overflow: hidden; */
    display: none;
  }
  .tabPanel-vertical {
    border-radius: 0px;
    max-width: 100%;
  }
  .dataGrid-page-container {
    height: 100%;
    padding: 32px 0px 12px 0px;
  }
}
@media only screen /*and (min-width: 300px)*/ and (max-width: 460px) {
  .page-wrapper {
    margin: 0px;
  }

  .dataGrid-page-container {
    height: 100%;
    padding: 32px 0px 12px 0px;
  }

  .tabs-vertical {
    width: 100%;
  }
  .tabs-vertical .MuiTabs-root {
    overflow: hidden;
  }
  .tabs-vertical .Mui-selected {
    border-radius: 0px;
  }
  
  .tabPanel-vertical {
    border-radius: 0px;
    max-width: 100%;
  }

  /* .small-screen .MuiInputBase-root { */
  .small-screen {
    background-color: #112a6eac;
    /* display: visible; */
    font-size: 18px;
    font-weight: 600;
    width: 100%;
  }
}




/* OTHER IMAGES */
/* {
  "src": "tealBlackLogo.png",
  "type": "image/png",
  "sizes": "411x309"
},
{
  "src": "tealBlackTagline.png",
  "type": "image/png",
  "sizes": "424x37"
},
{
  "src": "tealBlackName.png",
  "type": "image/png",
  "sizes": "452x320"
},
{
  "src": "blueGreenWhiteLogo.png",
  "type": "image/png",
  "sizes": "133x111"
} */